*{
    /* font-family: sans-serif; */
    box-sizing: border-box;
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}


body{
    background-image: url(gxbg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}
.heading{
    font-size: 1.5em;
    font-weight: 600;
    /* line-height: 1.75rem; */
    /* height: 20px;
    width: 352px; */
    margin-bottom: 10px;
}

.container{
    height: 346px;
    width: 440px;
    background-color: white;
    padding: 44px;
    margin: auto;
    margin-top: 118px;
    box-sizing: border-box;
    position: relative;
    
}
/* .container3{
    height: 346px;
    width: 440px;
    background-color: white;
    padding: 44px;
    margin: auto;
    margin-top: 118px;
    box-sizing: border-box;
    position: absolute;
    left: 1000px;
    top: 0px;
    transform: translateX(-450px);
    transition: transform 2s ease;
    
}

.container3.active{
    transform: translateX(-450px);
    height: 400px;
    background-color: red;
}
.container3.active .container{
    display: none;
} */

.logo{
    width: 352px;
    height: 36px;
    /* margin-top: -25px; */
    margin-bottom: 10px;
    text-align: left;
    /* line-height: 1.25rem; */
    margin-left: -5px;
}

img{
    /* width: 180px; */
    height: 29px;
    /* margin-left: -10px; */
    

}
h3{
    font-weight: 600;
}
input {
    width: 348px;
    height: 36px;
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: black;
    border-style: solid;
    margin-bottom: 18px;
    padding: 5px;
    font-size: inherit;
    
  }

a{
    text-decoration: none;
    font-size: 13px;
    color: #0d69af;
    font-weight: 400;
}
button{
    display: block;
    /* transform:translate(250px,70px); */
    /* text-align: center;   */
    border: none;
    background-color: #0d69af;
    padding: 7px 35px;
    color: white;
    font-size: 15px;
    position: absolute;
    right: 44px;
    bottom: 44px;
    height: 32px;
    width: 108px;
   
    
}
.container2{
    height: 48px;
    width: 440px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 8px 44px;
    box-sizing: border-box;
}

.key{
    /* margin-left: 30px; */
    height: 32px;
    width: 35px;
    padding-top:2px;
}
.con{
    
    font-weight: normal;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
}

.container2:hover{
    background-color: rgb(219, 213, 213);
    cursor: pointer;
}
a:hover{
    text-decoration: grey solid underline;
    color: grey;
}
button:hover{
    cursor: pointer;
    background-color:#155586;
}

#foot{
    position: fixed;
    bottom:3px;
    right:0px;
    display: flex;  
    justify-content:space-evenly;
    text-decoration: none;
    width: 250px;
}
#foot a{
    color: white;
}
.contentt{
    height: 168px;
    width: 352px;
}
.back{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.arrow{
    height: 24px;
    width: 24px;
    color: rgba(0, 0, 0, 0.834);
    border-radius: 50%;
}
.arrow:hover{
    background-color: rgba(128, 128, 128, 0.226);
}

.container .password{
    position: absolute;  
    /* transform: translateX(400px); */
    /* display: none; */
}
.username{
    /* display: none; */
}